[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/STC"]
	path = lib/STC
	url = https://github.com/tylov/STC
[submodule "lib/cosmopolitan"]
	path = lib/cosmopolitan
	url = https://github.com/jart/cosmopolitan
